main-header {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 2vw;
}

main-header header h1 {
    /* display: inline; */
    text-align: center;
    font-size: 50px;
    transition: 1s;
    margin-top: 2vw;
}


main-header header h1:hover {
    background: linear-gradient(120deg,var(--main-dark-color),var(--main-dark-accent-color));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

main-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

main-header footer h3 {
    /* display: inline; */
    text-align: center;
    font-size: 25px;
    transition: 1s;
    margin-top: 2vw;
}